<div class="card border-0">
    <img class="card-img-top p-3" [src]=imageUrl alt="Card image cap">
    <div class="card-body">
        <div class="row">
            <div class="col-8 color-black">
                <p class="fs-4 mb-0" style="color: black;">{{product.name}}</p>
                <p class="fs-4 mb-0" style="color: black;">{{product.price}}$</p>
            </div>
            <div class="col-4">
                <button class="bg-primary border-0 rounded text-white float-right w-100 h-100" (click)='buy()'>Buy</button>
            </div>
        </div>
    </div>
</div>