<div class="card border-0">
    <img class="card-img-top p-3" src="../../assets/images/product_image.jpg" alt="Card image cap">
    <div class="card-body">
        <div class="row">
            <div class="col-8">
                <p class="fs-4 mb-0">PRODUCT NAME</p>
                <p class="fs-4 mb-0">300$</p>
            </div>
            <div class="col-4">
                <button class="bg-primary border-0 rounded text-white float-right w-100 h-100">Buy</button>
            </div>
        </div>
    </div>
</div>