.sidenav {
    margin: 3px 0px 0px 1px;
    border-radius: 3px;
    border: 1px solid #dee2e6!important;
}

.sidenav a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: block;
    border: 1px solid #dee2e6!important;
}

.sidenav a:hover {
    color: #ffffff;
    background-color: blue
}